/* line 1, ../sass/_global.scss */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 8, ../sass/_global.scss */
#Container,
#Container > div {
  height: 100%;
  margin: 0 auto;
}

/* line 13, ../sass/_global.scss */
.block {
  height: 100%;
  margin: 0 auto;
}

/* line 1, ../sass/_MainBlock.scss */
#MainBlock {
  background-color: rgba(128, 224, 31, 0.87);
}

/* line 1, ../sass/_Activity.scss */
.ActivityList {
  height: 100%;
}
/* line 3, ../sass/_Activity.scss */
.ActivityList > .swiper-wrapper {
  height: 100%;
}
/* line 5, ../sass/_Activity.scss */
.ActivityList > .swiper-wrapper > .swiper-slide {
  height: 100%;
  background-color: #e8a617;
}
