/* global variable */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#Container,
#Container > div {
  height: 100%;
  margin: 0 auto;
}

.block {
  height: 100%;
  margin: 0 auto;
  color: white !important;
}
.block .container {
  margin: 0 auto;
}
.block h1 {
  color: white !important;
}

.filter-blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.filter-brightness {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.filter-brightness-blur {
  -webkit-filter: blur(4px) brightness(0.5);
  filter: blur(4px) brightness(0.5);
}

#MainBlock {
  min-height: 100%;
  background-image: url("../img/main/background_layer1.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: repeat-y;
}
@media all and (orientation: portrait) {
  #MainBlock {
    background-size: auto 100%;
  }
}
#MainBlock .container {
  position: relative;
  top: 15%;
  text-align: center;
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  #MainBlock .container {
    top: 10%;
  }
}
#MainBlock img {
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  #MainBlock img {
    width: 150px !important;
  }
}
#MainBlock .logo-text {
  padding: 2.5em;
  width: 250px;
  height: auto;
}
#MainBlock .button {
  position: fixed;
  top: -webkit-calc(100% - 1.5em);
  top: calc(100% - 1.5em);
  left: -webkit-calc(50% - 0.375em);
  left: calc(50% - 0.375em);
  font-size: 3em;
}
#MainBlock .button a {
  color: rgba(209, 209, 209, 0.68);
}

#IntroductionBlock {
  min-height: 100%;
  background-image: url("../img/intro/_DSC3794.JPG");
  background-size: 100% auto;
  background-attachment: fixed;
  color: white;
}
@media all and (orientation: portrait) {
  #IntroductionBlock {
    background-size: auto 100%;
  }
}
#IntroductionBlock .container {
  padding-top: 5em;
  width: 80%;
  margin: 0 auto;
}

#ActivityBlock {
  height: 100%;
}

#ProjectBlock {
  height: 100%;
}
