html, body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: hsl(0, 0%, 83%);
  background-size: cover;
  background: url('../img/main/main.jpg');
  background-position: center center;
}

.content {
  width:80%;
  margin: 0 auto;
}

section {
  min-height: 100%;
}
