html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
#Container,
#Container > div {
    height: 100%;
    margin: 0 auto;
}
.block {
    height: 100%;
    margin: 0 auto;
}

.slide {
    height: 100%;
    .carousel-control {
        background-image: none;
    }
}

.item:before
{
  @include filter(blur(2px));
}
