html, body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: url('../img/main/background.jpg') #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  font-size: 3em;
}

.myContent {
  width:80%;
  margin: 0 auto;
  > .myContent {
    width: 90%;
    margin: 0 auto;
  }
}

section {
  color: hsl(0, 0%, 83%);
  min-height: 100%;
  h1, h2 {
    margin-bottom: 3%;
  }
  margin: 0;
  padding: 0;
}
