#MainBlock {
  h1, h2 {
    text-align: center;
  }
  background-size: cover;
  background: url('../img/main/main.jpg');
  background-position: center center;
  color: hsl(0, 0%, 83%);
}

#logo {
  position: relative;
  @include calc('padding-top', '35% - 20em');
  @include calc('left', '50% - 10em');
  width: 20em;

  @media (orientation: portrait) {
    @include calc('padding-top', '50% - 15em');
    @include calc('left', '50% - 15em');
    width: 30em;
  }

  @media (max-width: 768px) and (orientation: portrait) {
    @include calc('padding-top', '40% - 10em');
    @include calc('left', '50% - 10em');
    width: 20em;
  }

  @media (max-width: 320px) and (orientation: portrait) {
    @include calc('padding-top', '40% - 6em');
    @include calc('left', '50% - 6em');
    width: 12em;
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    @include calc('padding-top', '30% - 10em');
    @include calc('left', '50% - 10em');
    width: 20em;
  }

  @media (max-width: 568px) and (orientation: landscape) {
    @include calc('padding-top', '15% - 4em');
    @include calc('left', '50% - 4em');
    width: 8em;
  }
}

#logo-text {
  position: relative;
  width: 10em;
  margin-top: 2em;
  margin-bottom: 2em;
  @include calc('left', '50% - 5em');

  @media (orientation: portrait) {
    @include calc('left', '50% - 10em');
    width: 20em;
  }

  @media (max-width: 1024px) and (orientation: portrait) {
    @include calc('left', '50% - 7.5em');
    width: 15em;
  }

  @media (max-width: 568px) and (orientation: landscape) {
    @include calc('left', '50% - 4em');
    width: 8em;
  }
}

.scroll {
  position: absolute;
  font-size: 50px !important;
  @include calc('left', '50% - 25px');
  @include calc('top', '90% - 25px');
  @include animation(0s, 1.2s, jumping, infinite);
}
