#navbar{
  > .content {
    display: none;
    @media (min-width: 600px) {
      display: block;
    }
  }
  .mobile {
    display: block;
    > .content {
      width: 95%;
    }

    @media (min-width: 600px) {
      display: none;
    }
  }
}
